[submodule "modules/mod-individual-progression"]
	path = modules/mod-individual-progression
	url = https://github.com/ZhengPeiRu21/mod-individual-progression.git
[submodule "modules/mod-transmog"]
	path = modules/mod-transmog
	url = https://github.com/azerothcore/mod-transmog.git
[submodule "modules/mod-autobalance"]
	path = modules/mod-autobalance
	url = https://github.com/azerothcore/mod-autobalance.git
[submodule "modules/mod-ah-bot-plus"]
	path = modules/mod-ah-bot-plus
	url = https://github.com/NathanHandley/mod-ah-bot-plus.git
[submodule "modules/mod-aoe-loot"]
	path = modules/mod-aoe-loot
	url = https://github.com/azerothcore/mod-aoe-loot.git
